In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [5]:
df=pd.read_csv(r"C:\Users\DELL\Downloads\archive (1)\ncr_ride_bookings.csv")
df

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,NaN,NaN,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,NaN,NaN,NaN,NaN,NaN,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,NaN,NaN,NaN,NaN,NaN,806.0,21.19,4.6,4.9,Credit Card

In [6]:
df.shape

(150000, 21)

In [7]:
df.info

<bound method DataFrame.info of               Date      Time    Booking ID   Booking Status   Customer ID  \
0       2024-03-23  12:29:38  "CNR5884300"  No Driver Found  "CID1982111"
1       2024-11-29  18:01:39  "CNR1326809"       Incomplete  "CID4604802"
2       2024-08-23  08:56:10  "CNR8494506"        Completed  "CID9202816"
3       2024-10-21  17:17:25  "CNR8906825"        Completed  "CID2610914"
4       2024-09-16  22:08:00  "CNR1950162"        Completed  "CID9933542"
...            ...       ...           ...              ...           ...
149995  2024-11-11  19:34:01  "CNR6500631"        Completed  "CID4337371"
149996  2024-11-24  15:55:09  "CNR2468611"        Completed  "CID2325623"
149997  2024-09-18  10:55:15  "CNR6358306"        Completed  "CID9925486"
149998  2024-10-05  07:53:34  "CNR3030099"        Completed  "CID9415487"
149999  2024-03-10  15:38:03  "CNR3447390"        Completed  "CID4108667"

         Vehicle Type         Pickup Location      Drop Location  Avg VTAT  \
0               eBike             Palam Vihar            Jhilmil       NaN
1            Go Sedan           Shastri Nagar  Gurgaon Sector 56       4.9
2                Auto                 Khandsa      Malviya Nagar      13.4
3       Premier Sedan     Central Secretariat           Inderlok      13.1
4                Bike        Ghitorni Village        Khan Market       5.3
...               ...                     ...                ...       ...
149995        Go Mini                 MG Road           Ghitorni      10.2
149996        Go Mini        Golf Course Road         Akshardham       5.1
149997       Go Sedan  Satguru Ram Singh Marg           Jor Bagh       2.7
149998           Auto               Ghaziabad         Saidulajab       6.9
149999  Premier Sedan         Ashok Park Main  Gurgaon Sector 29       3.5

        Avg CTAT  ...  Reason for cancelling by Customer  \
0            NaN  ...                                NaN
1           14.0  ...                                NaN
2           25.8  ...                                NaN
3           28.5  ...                                NaN
4           19.6  ...                                NaN
...          ...  ...                                ...
149995      44.4  ...                                NaN
149996      30.8  ...                                NaN
149997      23.4  ...                                NaN
149998      39.6  ...                                NaN
149999      33.7  ...                                NaN

       Cancelled Rides by Driver  Driver Cancellation Reason Incomplete Rides  \
0                            NaN                         NaN              NaN
1                            NaN                         NaN              1.0
2                            NaN                         NaN              NaN
3                            NaN                         NaN              NaN
4                            NaN                         NaN              NaN
...                          ...                         ...              ...
149995                       NaN                         NaN              NaN
149996                       NaN                         NaN              NaN
149997                       NaN                         NaN              NaN
149998                       NaN                         NaN              NaN
149999                       NaN                         NaN              NaN

        Incomplete Rides Reason Booking Value  Ride Distance  Driver Ratings  \
0                           NaN           NaN            NaN             NaN
1             Vehicle Breakdown         237.0           5.73             NaN
2                           NaN         627.0          13.58             4.9
3                           NaN         416.0          34.02             4.6
4                           NaN         737.0          48.21             4.1
...                         ...           ...            ...             ...
149995                      NaN         475.0          40.08             3.7
149996                      NaN        1093.0          21.31             4.8
149997                      NaN         852.0          15.93             3.9
149998                      NaN         333.0          45.54             4.1
149999                      NaN         806.0          21.19             4.6

        Customer Rating  Payment Method
0                   NaN             NaN
1                   NaN             UPI
2                   4.9      Debit Card
3                   5.0             UPI
4                   4.3             UPI
...                 ...             ...
149995              4.1     Uber Wallet
149996              5.0             UPI
149997              4.4            Cash
149998              3.7             UPI
149999              4.9     Credit Card

[150000 rows x 21 columns]>

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

In [9]:
df.duplicated().sum()

0

In [10]:
df.isnull().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

In [11]:
df_clean = df.drop(columns=[
    "Reason for cancelling by Customer",
    "Driver Cancellation Reason",
    "Incomplete Rides Reason"
])

In [12]:
df_clean.isnull().sum()

Date                                0
Time                                0
Booking ID                          0
Booking Status                      0
Customer ID                         0
Vehicle Type                        0
Pickup Location                     0
Drop Location                       0
Avg VTAT                        10500
Avg CTAT                        48000
Cancelled Rides by Customer    139500
Cancelled Rides by Driver      123000
Incomplete Rides               141000
Booking Value                   48000
Ride Distance                   48000
Driver Ratings                  57000
Customer Rating                 57000
Payment Method                  48000
dtype: int64

In [13]:
df_clean["Booking Value"].fillna(df_clean["Booking Value"].median(), inplace=True)
df_clean["Ride Distance"].fillna(df_clean["Ride Distance"].median(), inplace=True)
df_clean["Payment Method"].fillna(df_clean["Payment Method"].mode()[0], inplace=True)

In [15]:
df_clean["Driver Ratings"].fillna(df_clean["Driver Ratings"].median(), inplace=True)
df_clean["Customer Rating"].fillna(df_clean["Customer Rating"].median(), inplace=True)

In [17]:
df_clean["Incomplete Rides"].fillna(df_clean["Incomplete Rides"].mode()[0], inplace=True)

In [19]:
df_clean["Avg CTAT"].fillna(df_clean["Avg CTAT"].median(), inplace=True)
df_clean["Avg VTAT"].fillna(df_clean["Avg VTAT"].median(), inplace=True)

In [21]:
df_clean["Cancelled Rides by Driver"].fillna(df_clean["Cancelled Rides by Driver"].mode()[0], inplace=True)
df_clean["Cancelled Rides by Customer"].fillna(df_clean["Cancelled Rides by Customer"].mode()[0], inplace=True)

In [22]:
df_clean.isnull().sum()

Date                           0
Time                           0
Booking ID                     0
Booking Status                 0
Customer ID                    0
Vehicle Type                   0
Pickup Location                0
Drop Location                  0
Avg VTAT                       0
Avg CTAT                       0
Cancelled Rides by Customer    0
Cancelled Rides by Driver      0
Incomplete Rides               0
Booking Value                  0
Ride Distance                  0
Driver Ratings                 0
Customer Rating                0
Payment Method                 0
dtype: int64

In [23]:
df_clean

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,8.3,28.8,1.0,1.0,1.0,414.0,23.72,4.3,4.5,UPI
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,1.0,1.0,1.0,237.0,5.73,4.3,4.5,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,1.0,1.0,1.0,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,1.0,1.0,1.0,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,1.0,1.0,1.0,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,1.0,1.0,1.0,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,1.0,1.0,1.0,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,1.0,1.0,1.0,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,1.0,1.0,1.0,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,1.0,1.0,1.0,806.0,21.19,4.6,4.9,Credit Card

In [27]:
df_clean.head(5)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,8.3,28.8,1.0,1.0,1.0,414.0,23.72,4.3,4.5,UPI
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,1.0,1.0,1.0,237.0,5.73,4.3,4.5,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,1.0,1.0,1.0,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,1.0,1.0,1.0,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,1.0,1.0,1.0,737.0,48.21,4.1,4.3,UPI

In [24]:
from sqlalchemy import create_engine
import urllib

# SQL Server connection details
server = 'NAYINI050203'
database = 'Cp1'

# Connection string using Windows Authentication
params = urllib.parse.quote_plus(
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER={server};"
    f"DATABASE={database};"
    f"Trusted_Connection=yes;"
)

# Create engine
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# Store DataFrame in SQL Server
df_clean.to_sql("Uber_data", engine, if_exists="replace", index=False)

print("DataFrame successfully stored in SQL Server using Windows Authentication!")

DataFrame successfully stored in SQL Server using Windows Authentication!